@model NaxlyAI.Models.ViewModels.AppTeam
@{
    ViewData["Title"] = "Index";
    ViewData["PageHeader"] = "Meet Our Team";
}

@Html.Partial("PageTitle")

<!-- team-section -->
<section class="team-page-section">
    <div class="auto-container">
        <div class="sec-title text-center mb-60">
            <p>team MEmbers</p>
            <h2>@Model.About.TeamMemberDesc</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row">
            @foreach (TeamMember member in Model.Members)
            {
                var socialMedias = new NaxlyAIContext().SocialMediaAccountOfMembers.
                                                    Where(s => s.MemberId == member.Id);
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/@member.Photo" alt="">
                                <ul class="contact-box clearfix">
                                    <li class="email">
                                        <a href="mailto:@member.Email">
                                            <i class="flaticon-gmail"></i>
                                            <span>@member.Email</span>
                                        </a>
                                    </li>
                                    <li class="social-links">
                                        <a href="#" class="share"><i class="flaticon-share-1"></i></a>
                                        <ul class="list clearfix">
                                            @foreach (SocialMediaAccountOfMember sm in socialMedias)
                                            {
                                                var socialMedia = new NaxlyAIContext().SocialMedia.
                                                    Find(sm.SocialMediaId);
                                                <li><a href="@sm.Url"><i class="@socialMedia.Icon"></i></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h4><a href="#">@member.Fullname</a></h4>
                                <span class="designation">@member.Designation</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- team-section end -->