@model NaxlyAI.Models.ViewModels.ProjectDetails

<h3>@ViewData["PageDesc"]</h3>
<table style="margin-bottom: 5%;" class="table table-bordered">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Page Header:</td>
            <td>@Model.PageHeader</td>
        </tr>
        <tr>
            <td>Client:</td>
            <td>@Model.ClientName</td>
        </tr>
        <tr>
            <td>Industry:</td>
            <td>@Model.IndustyName</td>
        </tr>
        <tr>
            <td>Duration of Project:</td>
            <td>@Model.TimePeriod</td>
        </tr>
        <tr>
            <td>Project Website:</td>
            <td>@Model.Website</td>
        </tr>
        <tr>
            <td>Header:</td>
            <td>@Model.Header</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>Challenge:</td>
            <td>@Model.Challenge</td>
        </tr>
        <tr>
            <td>Solution:</td>
            <td>@Model.Solution</td>
        </tr>
        <tr>
            <td>Cover Picture:</td>
            <td>@Model.CoverPicture</td>
        </tr>
        <tr>
            <td>Page Picture:</td>
            <td>@Model.PagePicture</td>
        </tr>
        <tr>
            <td>Process Description:</td>
            <td>@Model.ProcessDescription</td>
        </tr>
        <tr>
            <td>Result Description:</td>
            <td>@Model.ResultDescription</td>
        </tr>
        <tr>
            <td>Member Names:</td>
            <td>
                @foreach (string member in Model.ProjectMembers)
                {
                    @member <br />
                }
            </td>
        </tr>
        <tr>
            <td>Technology Names:</td>
            <td>
                @foreach (string tech in Model.ProjectTeches)
                {
                    @tech <br />
                }
            </td>
        </tr>
    </tbody>
</table>