@{ 
    NaxlyAIContext contecxt = new NaxlyAIContext();
    var socialMedias = contecxt.SocialMediaOfCompanies;
    var projects = contecxt.Projects;
    var config = contecxt.Configurations.FirstOrDefault();
    var contact = contecxt.Contacts.FirstOrDefault();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"]</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="~/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/css/flaticon.css" rel="stylesheet">
    <link href="~/css/owl.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/imagebg.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/header.css" rel="stylesheet">
    <link href="~/css/color.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>


<!-- page wrapper -->
<body class="boxed_wrapper">

    <!-- preloader -->
    <div class="preloader">
        <div id="handle-preloader" class="handle-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="Y" class="letters-loading">
                        Y
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->
    <header class="main-header style-two">
        <div class="header-top">
            <div class="large-container">
                <div class="top-inner clearfix">
                    <div class="top-right pull-right clearfix">
                        <ul class="social-links clearfix">
                            @foreach (SocialMediaOfCompany sm in socialMedias)
                            {
                                <li><a href="@sm.Url"><i class="@sm.Icon"></i></a></li>
                            }
                        </ul>
                        <div class="support"><i class="flaticon-music"></i><span>Start your project today</span><a href="tel:@config.PhoneNumber">@config.PhoneNumber</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-upper">
            <div class="large-container">
                <div class="outer-box clearfix">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a asp-controller="Home" asp-action="Index">
                            <img src="~/images/@config.Logo" alt=""></a></figure>
                    </div>
                    <div class="menu-area pull-right clearfix">
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current">
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="About" asp-action="Index">About</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index">Contact Us</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Services" asp-action="Index">Services</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Projects" asp-action="Index">Works</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        @*<div class="btn-box">
                                <a href="index-2.html" class="theme-btn style-five">Get in Touch</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="large-container clearfix">
                <figure class="logo-box"><a asp-controller="Home" asp-action="Index">
                    <img src="~/images/@config.SecondLogo" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                    @*<div class="btn-box">
                            <a href="index-2.html" class="theme-btn style-five">Get in Touch</a>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>

        <nav class="menu-box">
            <div class="nav-logo"><a asp-controller="Home" asp-action="Index">
                <img src="~/images/@config.Logo" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>@contact.Address</li>
                    <li><a href="tel:@contact.PhoneNum">@contact.PhoneNum</a></li>
                    <li><a href="mailto:@contact.Email1">@contact.Email1</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    @foreach (var sm in socialMedias)
                    {
                        <li><a href="@sm.Url"><span class="@sm.Icon"></span></a></li>
                    }
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->
    <!-- banner-section -->

    @RenderBody()

    <!-- footer-style-two -->
    <footer class="footer-style-two bg-color-3">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Company</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <ul style="margin-left:0" class="links clearfix">
                                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                                <li><a asp-controller="About" asp-action="Index">About Us</a></li>
                                                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                                                <li><a asp-controller="Projects" asp-action="Index">Works</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Us</h3>
                                    <div class="decor" style="background-image: url(~/images/icons/decor-3.png);"></div>
                                </div>
                                <div class="widget-content">
                                    <div class="box">
                                        <h5>Office Location</h5>
                                        <p>@contact.Address</p>
                                    </div>
                                    <div class="box">
                                        <h5>Quick Contact</h5>
                                        <ul class="clearfix">
                                            <li><i class="flaticon-music"></i><a href="tel:@contact.PhoneNum">@contact.PhoneNum</a></li>
                                            <li><i class="flaticon-gmail"></i><a href="mailto:@contact.Email1">@contact.Email1</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget gallery-widget">
                                <div class="widget-title">
                                    <h3>Latest Works</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        @foreach (Project project in projects)
                                        {
                                            <li>
                                                <figure class="image-box">
                                                    <img src="~/images/@project.CoverPicture" alt="">
                                                    <a asp-controller="Projects" asp-action="Project_Details"
                                                       asp-route-id="@project.Id"><i class="flaticon-hyperlink"></i></a>
                                                </figure>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="left-column pull-left">
                    <div class="copyright">
                        <p>Copyright &copy; <a asp-controller="Home" asp-action="Index">Naxly</a>, 
                        All Rights Reserved.</p>
                    </div>
                    <figure class="footer-logo"><a asp-controller="Home" asp-action="Index">
                        <img src="~/images/@config.Logo" alt=""></a></figure>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-style-two end -->
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fas fa-angle-up"></span>
    </button>

    <!-- jequery plugins -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/scrollbar.js"></script>
    <script src="~/js/tilt.jquery.js"></script>

    <!-- main-js -->
    <script src="~/js/script.js"></script>
</body><!-- End of .page_wrapper -->
</html>