@{ 
    Contact contact = new NaxlyAIContext().Contacts.FirstOrDefault();
}

<div class="info-inner">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-pin"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-pin"></i></div>
                    <h4>@contact.LocationHeader</h4>
                    <span>@contact.LocationDesc</span>
                </div>
                <div class="text">
                    <p>@contact.Address</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-music"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-music"></i></div>
                    <h4>@contact.PhoneHeader</h4>
                    <span>@contact.PhoneDesc</span>
                </div>
                <div class="text">
                    <p><a href="tel:@contact.PhoneNum">@contact.PhoneNum</a></p>
                    <p>@contact.PhoneTime</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 info-column">
            <div class="info-box">
                <div class="hidden-icon"><i class="flaticon-gmail"></i></div>
                <div class="box">
                    <div class="icon-box"><i class="flaticon-gmail"></i></div>
                    <h4>@contact.EmailHeader</h4>
                    <span>@contact.EmailDesc</span>
                </div>
                <div class="text">
                    <p><a href="mailto:@contact.Email1">@contact.Email1</a></p>
                    <p><a href="mailto:@contact.Email2">@contact.Email2</a></p>
                </div>
            </div>
        </div>
    </div>
</div>