
@{ 
    HomePage home = new NaxlyAIContext().HomePages.FirstOrDefault();
}

<section class="process-style-two" style="background-image: url(/images/background/process-bg-1.jpg);">
    <div class="auto-container">
        <div class="sec-title text-center style-two">
            <p>Our Work Process</p>
            <h2>@home.AboutWorkProcess</h2>
            <div class="decor" style="background-image: url(/images/icons/decor-1.png);"></div>
        </div>
        <div class="inner-content">
            <div class="line" style="background-image: url(/images/icons/line-1.png);"></div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="arrow-box" style="background-image: url(/images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/images/icons/border-1.png);"></div>
                                <i class="flaticon-big-data"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms"><span>01</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">@home.WorkProcessHeader1</a></h4>
                                <p>@home.WorkProcessDesc1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="arrow-box" style="background-image: url(/images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/images/icons/border-1.png);"></div>
                                <i class="flaticon-ui"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="200ms" data-wow-duration="1500ms"><span>02</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">@home.WorkProcessHeader2</a></h4>
                                <p>@home.WorkProcessDesc2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/images/icons/border-1.png);"></div>
                                <i class="flaticon-brain"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="400ms" data-wow-duration="1500ms"><span>03</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">@home.WorkProcessHeader3</a></h4>
                                <p>@home.WorkProcessDesc3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
