@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
    ViewData["PageHeader"] = "Our Projects";
}

@Html.Partial("PageTitle")

<!-- project-two-column -->
<section class="project-two-column project-page">
    <div class="auto-container">
        <div class="row clearfix">
            @foreach (Project project in Model)
            {
                Client client = new NaxlyAIContext().Clients.Find(project.ClientId);
                Industry industry = new NaxlyAIContext().Industries.Find(project.IndustyId);
                <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                    <div class="case-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/@project.CoverPicture" alt="">
                                <div class="client-box">
                                    <span>@client.Name</span>
                                    <div class="client-logo"><img src="images/@client.Logo" alt=""></div>
                                </div>
                                <div class="link"><a asp-controller="Projects" asp-action="Project_Details"
                                                     asp-route-id="@project.Id"><i class="flaticon-hyperlink"></i></a></div>
                                <div class="overlay-layer"></div>
                            </figure>
                            <div class="lower-content">
                                <div class="box">
                                    <div class="icon-box"><i class="@industry.Icon"></i></div>
                                    <p>@industry.Name</p>
                                    <h3><a asp-controller="Projects" asp-action="Project_Details"
                                                     asp-route-id="@project.Id">@project.Name</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- project-two-column end -->