@model NaxlyAI.Models.Project
@{
    ViewData["Title"] = "Project";
    ViewData["PageHeader"] = Model.PageHeader;
    ViewData["ParentName"] = "Projects";
    NaxlyAIContext context = new NaxlyAIContext();
}

@Html.Partial("PageTitle")

<!-- project-details -->
<section class="project-details">
    <div class="upper-box">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="project-details-content">
                        <div class="data-box">
                            <div class="title-box">
                                <span>@context.Industries.Find(Model.IndustyId).Name</span>
                                <h3>@Model.Header</h3>
                                <p>@Model.Description</p>
                            </div>
                            <div class="intro-box">
                                <div class="single-item clearfix">
                                    <div class="left-column">
                                        <div class="icon-box"><i class="flaticon-accept"></i></div>
                                        <span>Challenges</span>
                                        <p>Better way to know</p>
                                    </div>
                                    <div class="right-column">
                                        <p>@Model.Challenge</p>
                                    </div>
                                </div>
                                <div class="single-item clearfix">
                                    <div class="left-column">
                                        <div class="icon-box"><i class="flaticon-accept"></i></div>
                                        <span>Solutions</span>
                                        <p>Better way to know</p>
                                    </div>
                                    <div class="right-column">
                                        <p>@Model.Solution</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <figure class="single-image"><img src="~/images/@Model.PagePicture" alt=""></figure>
                        <div class="processing-system">
                            <div class="title-box">
                                <h3>Processing System</h3>
                                <p>@Model.ProcessDescription</p>
                            </div>
                            <div class="tabs-box">
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        @{
                                            List<StepOfProject> steps = context.StepOfProjects.
                                                Where(s => s.ProjectId == Model.Id).ToList();
                                        }
                                        @for (int i = 0; i < steps.Count(); i++)
                                        {
                                            <li class="tab-btn @(i==0 ? "active-btn" : "")" data-tab="#tab-@(i+1)"><span>Step 0@(i+1)</span></li>
                                        }
                                    </ul>
                                </div>
                                <div class="tabs-content">
                                    @for (int i = 0; i < steps.Count(); i++)
                                    {
                                    <div style="display:@(i == 0 ? "block" : "none") " class="tab @(i==0 ? "active-btn" : "")" id="tab-@(i+1)">
                                            <div class="content-box">
                                        <figure class="image-box"><img src="~/images/@steps[i].Picture" alt=""></figure>
                                        <div class="text">
                                            <h3>Step@(i+1): @steps[i].Name</h3>
                                            <p>@steps[i].Description</p>
                                        </div>
                                    </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="result-box">
                            <div class="inner">
                                <h3>Results</h3>
                                <p>@Model.ResultDescription</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="project-sidebar">
                        <div class="info-box">
                            <div class="single-item">
                                <div class="box">
                                    <div class="icon-box"><i class="far fa-user"></i></div>
                                    <span>Support Team</span>
                                </div>
                                <div class="text">
                                    @{
                                        var projAndMembers = context.ProjectAndMembers.
                                            Where(p => p.ProjectId == Model.Id).ToList();
                                    }
                                    @foreach (var projAndMember in projAndMembers)
                                    {
                                        <p>@context.TeamMembers.Find(projAndMember.MemberId).Fullname</p>
                                    }
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="box">
                                    <div class="icon-box"><i class="far fa-sun"></i></div>
                                    <span>Technologies</span>
                                </div>
                                <div class="text">
                                    @{
                                        var projAndTechs = context.ProjectAndTeches.
                                            Where(p => p.ProjectId == Model.Id).ToList();
                                    }
                                    @foreach (var projectAndTech in projAndTechs)
                                    {
                                        <p>@context.Technologies.Find(projectAndTech.TechId).Name</p>
                                    }
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="box">
                                    <div class="icon-box"><i class="far fa-calendar-alt"></i></div>
                                    <span>Time Period</span>
                                </div>
                                <div class="text">
                                    <p>@Model.TimePeriod Weeks</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="box">
                                    <div class="icon-box"><i class="far fa-bookmark"></i></div>
                                    <span>Website</span>
                                </div>
                                <div class="text">
                                    <p><a href="@Model.Website">@Model.Website</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-btn-box">
        <div class="auto-container">
            <div class="btn-inner clearfix">
                <!--Index-lemede problem var. Siyahi ile bagli problem var-->
                @{
                    var projects = context.Projects;
                    List<int> projectIds = new List<int>();
                    foreach (Project project in projects.OrderBy(p => p.Id))
                    {
                        projectIds.Add(project.Id);
                    }

                    int projectIndex = projectIds.IndexOf(Model.Id);
                    Project previousProject = null;
                    Project nextProject = null;

                    if (projectIndex > 0)
                    {
                        previousProject = projects.Find(projectIds[projectIndex - 1]);
                    }
                    if (projectIndex >= 0 && projectIndex < projectIds.Count()-1)
                    {
                        nextProject = projects.Find(projectIds[projectIndex + 1]);
                    }
                }
                @if (projectIndex > 0)
                {
                    <div class="btn-left pull-left">
                        <div class="prev-btn">
                            <h4>
                                <a asp-controller="Projects" asp-action="Project_Details" asp-route-id="@previousProject.Id">
                                    <i class="fas fa-angle-double-left"></i>&nbsp;Prev Project
                                </a>
                            </h4>
                        </div>
                        <div class="box">
                            <figure class="icon-box">
                                <img src="~/images/@previousProject.CoverPicture" alt="">
                            </figure>
                            <span>@(context.Industries.Find(previousProject.IndustyId).Name)</span>
                            <h3>@previousProject.Name</h3>
                        </div>
                    </div>
                }
                @if (projectIndex >= 0 && projectIndex < projects.Count() - 1)
                {
                    <div class="btn-right pull-right text-right">
                        <div class="prev-btn">
                            <h4>
                                <a asp-controller="Projects" asp-action="Project_Details" asp-route-id="@nextProject.Id">
                                    Next Project&nbsp;
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="box">
                            <figure class="icon-box"><img src="~/images/@nextProject.CoverPicture" alt=""></figure>
                            <span>@(context.Industries.Find(nextProject.IndustyId).Name)</span>
                            <h3>@nextProject.Name</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- project-details end -->
