@model NaxlyAI.Models.Contact
@{
    ViewData["Title"] = "Contact Us";
    ViewData["PageName"] = "Contact";
    ViewData["PageHeader"] = Model.PageHeader;
}

@Html.Partial("PageTitle")

<!-- info-section -->
<section class="info-section alternate-2">
    <div class="auto-container">
        <div class="inner-container">
            <div class="top-inner mb-55">
                <div class="sec-title text-center">
                    <p>@Model.InnerHeader</p>
                    <h2>@Model.Slogan</h2>
                    <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                </div>
                <div class="text text-center">
                    <p>@Model.Description</p>
                </div>
            </div>
            @Html.Partial("InfoInner")
        </div>
    </div>
</section>
<!-- info-section end -->
<!-- contact-section -->
<section class="contact-section alternate-2">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-48.png);"></div>
    <div class="auto-container">
        @Html.Partial("ContactSection")
    </div>
</section>
<!-- contact-section end -->
