@model NaxlyAI.Models.ViewModels.AppAbout
@{
    ViewData["Title"] = "About Company";
    ViewData["PageName"] = "About";
    ViewData["PageHeader"] = Model.AboutPage.PageHeader;
}

@Html.Partial("PageTitle")

<!-- about-style-six -->
<section class="about-style-six">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_05">
                    <div class="image-box">
                        <figure class="image image-1"><img src="images/@Model.AboutPage.Picture1" alt=""></figure>
                        <figure class="image image-2"><img src="images/@Model.AboutPage.Picture2" alt=""></figure>
                        <figure class="image image-3"><img src="images/@Model.AboutPage.Picture3" alt=""></figure>
                        <div class="elipse"></div>
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-46.png);"></div>
                        <div class="text">
                            <span>@(DateTime.Now.Year - Model.AboutPage.FoundationYear)</span>
                            <h5>Years<br />of Experience</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_11">
                    <div class="content-box">
                        <div class="sec-title text-left">
                            <p>About Company</p>
                            <h2>@Model.AboutPage.Slogan</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="text">
                            <p>@Model.AboutPage.Description</p>
                        </div>
                        @if (Model.AboutPage.VideoUrl != null)
                        {
                            <div class="video-btn">
                                <a href="@Model.AboutPage.VideoUrl" class="lightbox-image" data-caption=""><i class="flaticon-play-button"></i></a>
                                <h5>@Model.AboutPage.VideoTitle</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-six end -->
<!-- history-section -->
<section class="history-section">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-47.png);"></div>
    <div class="arrow-box" style="background-image: url(images/icons/arrow-3.png);"></div>
    <figure class="image-layer js-tilt"><img src="images/resource/illastration-8.png" alt=""></figure>
    <div class="auto-container">
        <div class="sec-title text-left">
            <p>Our History</p>
            <h2>History begins in 2010 with the foundation</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="inner-box clearfix">
            @{ int index = 0;}
            @foreach (StepOfHistory step in Model.StepsOfHistory)
            {
                bool up = index % 2 == 0;
                string divClass = up ? "slideInUp" : "slideInDown";

                <div class="single-item">
                    <div class="inner wow @divClass" data-wow-delay="00ms" data-wow-duration="1500ms">
                        @if (up)
                        {
                            <div class="content-box">
                                <h4><a asp-controller="About" asp-action="Index">@step.Header</a></h4>
                                <p>@step.Description</p>
                            </div>
                            <div class="year"><span>@step.Year</span></div>
                        }
                        else
                        {
                            <div class="year"><span>@step.Year</span></div>
                            <div class="content-box">
                                <h4><a asp-controller="About" asp-action="Index">@step.Header</a></h4>
                                <p>@step.Description</p>
                            </div>
                        }
                    </div>
                </div>

                index++;
            }
        </div>
    </div>
</section>
<!-- history-section end -->
<!-- chooseus-style-four -->
<section class="chooseus-style-four">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="images/@Model.AboutPage.WhyChooseUsPicture1" alt=""></figure>
                    <figure class="image image-2  wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <a href="images/@Model.AboutPage.WhyChooseUsPicture2" class="lightbox-image">
                        <img src="images/@Model.AboutPage.WhyChooseUsPicture2" alt=""></a></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_12">
                    <div class="content-box">
                        <div class="sec-title text-left">
                            <p>Why Choose Us</p>
                            <h2>@Model.AboutPage.WhyChooseUs</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="inner-box">
                            @foreach (ReasonForChoosingU reason in Model.reasonsForChoosingUs)
                            {
                                <div class="single-item">
                                    <h4>@reason.Header</h4>
                                    <div class="box">
                                        <div class="icon-box"><i class="@reason.Icon"></i></div>
                                        <p>@reason.Descrioption</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-style-four end -->
<!-- testimonial-style-two -->
<section class="testimonial-style-two alternate-2">
    <div class="lower-content">
        <div class="auto-container">
            <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                @foreach (Testimonial testimonial in Model.Testimonials)
                {
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="images/@testimonial.Photo" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(images/icons/icon-5.png);"></div>
                                <div class="text">
                                    <p>@testimonial.Review</p>
                                </div>
                                <div class="author-info">
                                    <h4>@testimonial.Fullname</h4>
                                    <span class="designation">@testimonial.Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- testimonial-style-two end -->
<!-- team-section -->
<section class="team-section alternate-2">
    <div class="auto-container">
        <div class="sec-title text-center mb-60">
            <p>team MEmbers</p>
            <h2>@Model.AboutPage.TeamMemberDesc</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            @foreach (TeamMember member in Model.TeamMembers)
            {
                IEnumerable<SocialMediaAccountOfMember> socialMedias = new NaxlyAIContext().SocialMediaAccountOfMembers.
                    Where(s => s.MemberId == member.Id);
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/@member.Photo" alt="">
                                <ul class="contact-box clearfix">
                                    <li class="email">
                                        <a href="mailto:@member.Email">
                                            <i class="flaticon-gmail"></i>
                                            <span>@member.Email</span>
                                        </a>
                                    </li>
                                    <li class="social-links">
                                        <a href="#" class="share"><i class="flaticon-share-1"></i></a>
                                        <ul class="list clearfix">
                                            @foreach (SocialMediaAccountOfMember sm in socialMedias)
                                            {
                                                string icon = new NaxlyAIContext().SocialMedia.
                                                                Where(s => s.Id == sm.SocialMediaId).
                                                                FirstOrDefault().Icon;
                                                <li><a href="@sm.Url"><i class="@icon">
                                                     </i></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h4><a href="#">@member.Fullname</a></h4>
                                <span class="designation">@member.Designation</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="more-btn"><a asp-controller="Team" asp-action="Index" class="btn-style-four">
            Meet All Members<span>+</span></a></div>
    </div>
</section>
<!-- team-section end -->