@model NaxlyAI.Models.ViewModels.AppServices
@{
    ViewData["Title"] = "Services";
    ViewData["PageHeader"] = "Our Services";

}

@Html.Partial("PageTitle")

<!-- service-section-five -->
<section class="service-section-five">
    <div class="auto-container">
        <div class="sec-title text-center mb-60">
            <p>@Model.ServicesPage.PageHeader</p>
            <h2>@Model.ServicesPage.Explanation</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div style="display:contents;" class="col-lg-12 col-md-12 col-sm-12 block-column">
            @{
                int index = 0;
            }
            @foreach (Service service in Model.Services)
            {
                string divClass = index % 2 == 0 ? "fadeInLeft" : "fadeInRight";
                var fields = new NaxlyAIContext().SubfieldOfServices.Where(s => s.ServiceId == service.Id);
                <div class="service-block-five wow @divClass col-lg-6 col-md-6 col-sm-12" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="@service.Icon"></i></div>
                        <h3>
                            <a asp-controller="Services" asp-action="Service_Details" asp-route-id="@service.Id">
                                @service.Name
                            </a>
                        </h3>
                        <ul class="list-item clearfix">
                            @foreach (SubfieldOfService field in fields)
                            {
                                <li><span class="dots"></span>@field.Name</li>
                            }
                        </ul>
                        <figure class="image-box"><img src="images/@service.CoverPicture" alt=""></figure>
                        <div class="link">
                            <a asp-controller="Services" asp-action="Service_Details"
                               asp-route-id="@service.Id" class="btn-style-four">
                                Read More<span>+</span>
                            </a>
                        </div>
                    </div>
                </div>
                index++;
            }

            </div>
        </div>
    </div>
</section>
<!-- service-section-five end -->

@Html.Partial("Process")

<!-- industries-style-two -->
<section class="industries-style-two">
    <div class="bg-layer" style="background-image: url(images/background/service-bg-1.png);"></div>
    <div class="auto-container">
        <div class="service-tab">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 video-column">
                    <div class="video-box">
                        <a href="@Model.ServicesPage.VideoUrl" class="lightbox-image" data-caption=""><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 inner-column">
                    <div class="sec-title text-left light mb-50">
                        <p>Industries</p>
                        <h2>@Model.ServicesPage.ExplanationAboutIndustries</h2>
                        <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                    </div>
                    <div class="tabs-content-inner">
                        <div class="p-tabs-content">
                            <div class="p-tab active-tab" id="p-tab-1">
                                <div class="service-carousel-3 owl-carousel owl-theme">
                                    @foreach (Industry industry in Model.Industries)
                                    {
                                        <div class="content-box">
                                            <div class="box">
                                                <div class="icon-box"><i class="@industry.Icon"></i></div>
                                                <span>Industry</span>
                                                <h4>@industry.Name</h4>
                                            </div>
                                            <div class="text">
                                                <p>@industry.Description</p>
                                            </div>
                                            <div class="btn-box">
                                                <a href="#" class="theme-btn style-one">Get Started<span>+</span></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="p-tab" id="p-tab-2">
                                <div class="service-carousel-3 owl-carousel owl-theme">
                                    @foreach (Industry industry in Model.Industries)
                                    {
                                        <div class="content-box">
                                            <div class="box">
                                                <div class="icon-box"><i class="@industry.Icon"></i></div>
                                                <span>Industry</span>
                                                <h4>@industry.Name</h4>
                                            </div>
                                            <div class="text">
                                                <p>@industry.Description</p>
                                            </div>
                                            <div class="btn-box">
                                                <a href="#" class="theme-btn style-one">Get Started<span>+</span></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="p-tab" id="p-tab-3">
                                <div class="service-carousel-3 owl-carousel owl-theme">
                                    @foreach (Industry industry in Model.Industries)
                                    {
                                        <div class="content-box">
                                            <div class="box">
                                                <div class="icon-box"><i class="@industry.Icon"></i></div>
                                                <span>Industry</span>
                                                <h4>@industry.Name</h4>
                                            </div>
                                            <div class="text">
                                                <p>@industry.Description</p>
                                            </div>
                                            <div class="btn-box">
                                                <a href="#" class="theme-btn style-one">Get Started<span>+</span></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="p-tab" id="p-tab-4">
                                <div class="service-carousel-3 owl-carousel owl-theme">
                                    @foreach (Industry industry in Model.Industries)
                                    {
                                        <div class="content-box">
                                            <div class="box">
                                                <div class="icon-box"><i class="@industry.Icon"></i></div>
                                                <span>Industry</span>
                                                <h4>@industry.Name</h4>
                                            </div>
                                            <div class="text">
                                                <p>@industry.Description</p>
                                            </div>
                                            <div class="btn-box">
                                                <a href="#" class="theme-btn style-one">Get Started<span>+</span></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-btn-box">
                <ul class="service-tab-btns tab-btns clearfix post-filter">
                    @{ int industryIndex = 1;}
                    @foreach (Industry industry in Model.Industries)
                    {
                        <li class="p-tab-btn active-btn" data-tab="#p-tab-@industryIndex">
                            <div class="btn-inner">
                                <div class="icon-box"><i class="@industry.Icon"></i></div>
                                <h4>@industry.Name</h4>
                            </div>
                        </li>
                        industryIndex++;
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- industries-style-two end -->
<!-- award-style-two -->
<section class="award-style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <h3>@Model.ServicesPage.AwardText</h3>
                    <figure class="award-image"><img src="images/@Model.ServicesPage.AwardPicture" alt=""></figure>
                    <p>@Model.ServicesPage.AwardDescription</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                <div class="testimonial-carousel-4 owl-carousel owl-theme owl-dots-none">
                    @foreach (Testimonial testimonial in Model.Testimonials)
                    {
                        <div class="testimonial-content">
                            <div class="inner-box">
                                <ul class="rating clearfix">
                                    @for (int i = 0; i < testimonial.NumberOfStars; i++)
                                    {
                                        <li><i class="flaticon-stars"></i></li>
                                    }
                                </ul>
                                <p>@testimonial.Review</p>
                                <div class="author-info">
                                    <figure class="image-box"><img src="images/@testimonial.Photo" alt=""></figure>
                                    <h4>@testimonial.Fullname</h4>
                                    <span class="designation">@testimonial.Designation</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- award-style-two end -->
