@model NaxlyAI.Models.ViewModels.AppServiceDetails
@{
    ViewData["Title"] = "Service Details";
    ViewData["PageHeader"] = Model.Service.PageHeader;
    ViewData["ParentName"] = "Services";
}

@Html.Partial("PageTitle")

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="two-column">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                                    <div class="title-box">
                                        <h2>@Model.Service.Intro</h2>
                                        <a href="@Model.Service.StartYourProjectUrl" class="btn-style-four">Start Your Project<span>+</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                                    <div class="text">
                                        <p>@Model.Service.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <figure class="single-image"><img src="~/images/@Model.Service.FirstPicture" alt=""></figure>
                        <div class="carousel-box">
                            <div class="top-box">
                                <h3>Services we provide</h3>
                                <p>@Model.Service.SubservicesDescription</p>
                            </div>
                            <div class="carousel-inner">
                                <div class="two-column-carousel-2 owl-carousel owl-theme owl-nav-none">
                                    @foreach (Subservice subservice in Model.Subservices)
                                    {
                                        <div class="single-item">
                                            <div class="box">
                                                <div class="icon-box"><i class="@subservice.Icon"></i></div>
                                                <span>@subservice.Type</span>
                                                <h4>@subservice.Name</h4>
                                            </div>
                                            <div class="inner">
                                                <p>@subservice.Description</p>
                                                <a href="@subservice.Url" class="btn-style-four">More Details<span>+</span></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="technology-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box">
                                        <h3>@Model.Service.TechnologiesHeader</h3>
                                        <p>@Model.Service.TechnologiesDescription</p>
                                        <ul class="list-item clearfix">
                                            @{ 
                                                var context = new NaxlyAIContext();
                                            }
                                            @foreach (var techAndServ in Model.TechesAndService)
                                            {
                                                <li><span class="dote"></span>@context.Technologies.Find(techAndServ.TechId).Name</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 icon-column">
                                    <div class="icon-box">
                                        @{ int iconIndex = 1;}
                                        @foreach (var techAndServ in Model.TechesAndService)
                                        {
                                            var tech = context.Technologies.Find(techAndServ.TechId);
                                            if (tech.Picture != null)
                                            {
                                                <div class="icon icon-@iconIndex">
                                                    <i class="@tech.Picture"></i>
                                                    <h4>@tech.Name</h4>
                                                </div>
                                                iconIndex++;
                                            }
                                            if (iconIndex >= 3)
                                            {
                                                break;
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <figure class="single-image"><a href="~/images/@Model.Service.SecondPicture" class="lightbox-image"><img src="~/images/@Model.Service.SecondPicture" alt=""></a></figure>
                        <div class="application-box">
                            <h3>@Model.Service.ApplicationHeader</h3>
                            <p>@Model.Service.ApplicationDescription</p>
                            <div class="inner clearfix">
                                @foreach (var servAndInd in Model.ServiceAndIndustries)
                                {
                                    Industry industry = context.Industries.Find(servAndInd.IndustryId);

                                    <div class="single-item">
                                        <div class="box">
                                            <i class="@industry.Icon"></i>
                                            <h4>@industry.Name</h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="recent-case">
                            <h3>Recent case studies</h3>
                            <div class="row clearfix">
                                @foreach (Project project in Model.Projects.Take(2))
                                {
                                    Client client = context.Clients.Find(project.ClientId);
                                    Industry industry = context.Industries.Find(project.IndustyId);
                                    <div class="col-lg-6 col-md-6 col-sm-12 case-block">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/images/@project.CoverPicture" alt="">
                                                    <div class="client-box">
                                                        <span>@client.Name</span>
                                                        <div class="client-logo"><img src="~/images/@client.Logo" alt=""></div>
                                                    </div>
                                                    <div class="link"><a asp-controller="Projects" asp-action="Project_Details" 
                                                                         asp-route-id="@project.Id"><i class="flaticon-hyperlink">
                                                                             </i></a></div>
                                                    <div class="overlay-layer"></div>
                                                </figure>
                                                <div class="lower-content">
                                                    <div class="box">
                                                        <div class="icon-box"><i class="@industry.Icon"></i></div>
                                                        <p>@industry.Name</p>
                                                        <h4><a asp-controller="Projects" asp-action="Project_Details" 
                                                                         asp-route-id="@project.Id">@project.Name</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar">
                    <ul class="sidebar-categories clearfix">
                        @foreach (Service service in Model.Services)
                        {
                            <li><a asp-controller="Services" asp-action="Service_Details" asp-route-id="@service.Id" 
                                   class="@(service.Id == Model.Service.Id ? "active": "")">
                                <h5>@service.Name</h5><i class="flaticon-arrow"></i></a></li>
                        }
                    </ul>
                    <!--File downloads. Turn Later for practical use-->
                    <div class="sidebar-file">
                        <ul class="download-option clearfix">
                            @foreach (var file in Model.Files)
                            {
                                string icon = null;
                                if (file.Extention == ".pdf")
                                {
                                    icon = "icon-6.png";
                                }
                                else if(file.Extention == ".txt")
                                {
                                    icon = "icon-7.png";
                                }
                            <li>
                                @{
                                    var a = new Dictionary<string, string> {
                                        { "file", (file.Name + file.Extention) },
                                        { "service", (Model.Service.Name) }
                                        };
                                }
                                <div class="icon-box">
                                    <a asp-controller="Services" asp-action="DownloadFile"
                                       asp-all-route-data="a">
                                        <i class="flaticon-download"></i>
                                    </a>
                                </div>
                                <div class="box">
                                    <figure class="image"><img src="~/images/icons/@icon" alt=""></figure>
                                    <h5>@(file.Name + file.Extention)</h5>
                                    <span>@file.Size KB</span>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar-award">
                        <h3>@Model.ServicesPage.AwardText</h3>
                        <figure class="award-image"><img src="~/images/@Model.ServicesPage.AwardPicture" alt=""></figure>
                        <p>@Model.ServicesPage.AwardDescription</p>
                    </div>
                    <div class="sidebar-testimonial">
                        <div class="testimonial-carousel-5 owl-carousel owl-theme owl-nav-none owl-dots-none">
                            @foreach (var testimonial in Model.Testimonials)
                            {
                                <div class="content-box">
                                    <div class="upper-box">
                                        <div class="rating-box clearfix">
                                            <ul class="rating clearfix">
                                                @for (int i = 0; i < testimonial.NumberOfStars; i++)
                                                {
                                                    <li><i class="flaticon-stars"></i></li>
                                                }
                                            </ul>
                                            <span>@testimonial.NumberOfStars out of 5</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>@testimonial.Review</p>
                                    </div>
                                    <div class="author-info">
                                        <figure class="author-image"><img src="~/images/@testimonial.Photo" alt=""></figure>
                                        <h4>@testimonial.Fullname</h4>
                                        <span class="designation">@testimonial.Designation</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->
<!-- contact-section -->
<section class="contact-section alternate-3">
    <div class="pattern-layer" style="background-image: url(~/images/shape/shape-48.png);"></div>
    <div class="auto-container">
        <div class="top-inner text-center mb-50">
            <div class="sec-title text-center">
                <p>Contact Us</p>
                <h2>@Model.Service.ContactHeader</h2>
                <div class="decor" style="background-image: url(~/images/icons/decor-1.png);"></div>
            </div>
            <div class="text">
                <p>@Model.Service.ContactDescription</p>
            </div>
        </div>
        @Html.Partial("ContactSection")
    </div>
</section>
<!-- contact-section end -->
