@model NaxlyAI.Models.ViewModels.AppHome
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner-section -->
<section class="banner-style-two">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-10.png);"></div>
    <div class="large-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <h1>@Model.Configuration.Slogan</h1>
                    <p>@Model.Configuration.Description</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1"><img src="images/@Model.HomePage.FirstPicture" alt=""></figure>
                    <figure class="image image-2 rotate-me"><img src="images/icons/gear-4.png" alt=""></figure>
                    <figure class="image image-3 rotate-me"><img src="images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-4 rotate-me"><img src="images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-5 rotate-me"><img src="images/icons/gear-6.png" alt=""></figure>
                    <div class="anim-icon">
                        <span class="icon icon-1"></span>
                        <span class="icon icon-2"></span>
                        <span class="icon icon-3"></span>
                        <span class="icon icon-4"></span>
                        <span class="icon icon-5"></span>
                        <span class="icon icon-6"></span>
                        <span class="icon icon-7"></span>
                        <span class="icon icon-8"></span>
                        <span class="icon icon-9"></span>
                        <span class="icon icon-10"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- about-style-two -->
<section class="about-style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div id="image_block_01">
                    <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-12.png);"></div>
                        <figure class="image js-tilt"><img src="images/@Model.AboutPage.HomeCoverPicture" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div id="content_block_03">
                    <div class="content-box">
                        <div class="sec-title style-two text-left">
                            <p>About Company</p>
                            <h2>@Model.AboutPage.Slogan</h2>
                            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
                        </div>
                        <div class="text">
                            <p>@Model.AboutPage.Description</p>
                        </div>
                        <div class="lower-box">
                            <div class="icon-box">
                                <div class="bg-box" style="background-image: url(images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-brain-2"></i>
                            </div>
                            <h5>Impressive Works Since @Model.AboutPage.FoundationYear</h5>
                            <a asp-controller="About" asp-action="Index"><i class="flaticon-next"></i>More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-two end -->
<!-- service-style-two -->
<section class="service-style-two">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-13.png);"></div>
    <figure class="image-layer"><img src="images/@Model.HomePage.ServicesPicture" alt=""></figure>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-9 col-lg-12 col-md-12 inner-column">
                <div class="inner-content">
                    <div class="sec-title text-center light">
                        <p>Our Services</p>
                        <h2>@Model.HomePage.AboutServices</h2>
                        <div class="decor" style="background-image: url(images/icons/decor-4.png);"></div>
                    </div>
                    <div class="service-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                        @foreach (Service service in Model.Services)
                        {
                            <div class="service-block-two">
                                <div class="inner-box">
                                    <div class="text-layer"><h2>@service.Name.Substring(0, 3)</h2></div>
                                    <div class="icon-box"><i class="@service.Icon"></i></div>
                                    <h4><a href="service-details.html">@service.Name</a></h4>
                                    <p>@service.Intro</p>
                                    <div class="link"><a asp-controller="Services" asp-action="Service_Details" asp-route-id="@service.Id"><i class="flaticon-next"></i>Read More</a></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-style-two end -->
<!-- case-style-two -->
<section class="case-style-two">
    <div class="auto-container">
        <div class="top-inner clearfix">
            <div class="sec-title style-two text-left pull-left">
                <p>Case Studies</p>
                <h2>@Model.HomePage.AboutProjects</h2>
                <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
            </div>
            <div class="btn-box pull-right">
                <a asp-controller="Projects" asp-action="Index" class="theme-btn style-five"><i class="flaticon-next"></i>All Projects</a>
            </div>
        </div>
        <div class="three-item-carousel owl-carousel owl-theme owl-nav-none">
            @if (Model.Projects != null)
            {
                @foreach (Project project in Model.Projects)
                {
                    <div class="case-block-two">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/@project.CoverPicture" alt="">
                                <div class="client-box">
                                    <span>@project.Client.Name</span>
                                    <div class="client-logo"><img src="images/@project.Client.Logo" alt=""></div>
                                </div>
                                <div class="link">
                                    <a asp-controller="Projects" asp-action="Project_Details" asp-route-id="@project.Id">
                                        <i class="flaticon-hyperlink"></i>
                                    </a>
                                </div>
                                <div class="overlay-layer"></div>
                            </figure>
                            <div class="lower-content">
                                <div class="box">
                                    <div class="icon-box"><i class="@project.Industy.Icon"></i></div>
                                    <p>@project.Industy.Name</p>
                                    <h4>
                                        <a asp-controller="Projects" asp-action="Project_Details"
                                           asp-route-id="@project.Id">@project.Name</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- case-style-two end -->
<!-- process-style-two -->
@Html.Partial("Process")
<!-- process-style-two end -->
<!-- chooseus-section -->
<section class="chooseus-section">
    <div class="auto-container">
        <div class="sec-title text-center style-two">
            <p>Why Choose Us</p>
            <h2>@Model.HomePage.AboutWhyChooseUs</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_04">
                    <div class="content-box">
                        @foreach (ReasonForChoosingU reason in Model.ReasonsForChoosingUs)
                        {
                            <div class="single-item">
                                <div class="icon-box">
                                    <div class="bg-layer" style="background-image: url(images/icons/icon-bg-4.png);"></div>
                                    <i class="@reason.Icon"></i>
                                </div>
                                <div class="box">
                                    <h4>@reason.Header</h4>
                                    <p>@reason.Descrioption</p>
                                    <a asp-controller="About" asp-action="Index"><i class="fas fa-arrow-right"></i>More Details</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                <div id="video_block_01">
                    <div class="video-inner wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/@Model.HomePage.WhyChooseUsPicture);">
                        <div class="pattern-layer" style="background-image: url(images/shape/shape-14.png);"></div>
                        <div class="video-btn">
                            <div class="btn-bg rotate-me" style="background-image: url(images/icons/icon-bg-5.png);"></div>
                            <a href="@Model.AboutPage.VideoUrl" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->
<!-- testimonial-style-two -->
<section class="testimonial-style-two">
    <div class="title-inner bg-color-3">
        <div class="pattern-layer" style="background-image: url(images/shape/shape-15.png);"></div>
        <div class="auto-container">
            <div class="sec-title text-left light">
                <p>Testimonials</p>
                <h2>@Model.HomePage.ClientDescription</h2>
                <div class="decor" style="background-image: url(images/icons/decor-4.png);"></div>
            </div>
        </div>
    </div>
    <div class="lower-content">
        <div class="auto-container">
            <div class="inner-content">
                <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none nav-style-one">
                    @foreach (Testimonial testimonial in Model.Testimonials)
                    {
                        <div class="testimonial-content">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/@testimonial.Photo" alt=""></figure>
                                <div class="content-box">
                                    <div class="icon-box" style="background-image: url(images/icons/icon-4.png);"></div>
                                    <div class="text">
                                        <p>@testimonial.Review</p>
                                    </div>
                                    <div class="author-info">
                                        <h4>@testimonial.Fullname</h4>
                                        <span class="designation">@testimonial.Designation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-style-two end -->
<!-- clients-style-two -->
<section class="clients-style-two bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(images/shape/shape-16.png);"></div>
        <div class="pattern-2 wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/shape/shape-17.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center style-two mb-70">
            <p>Clients</p>
            <h2>@Model.HomePage.ClientDescription</h2>
            <div class="decor" style="background-image: url(images/icons/decor-1.png);"></div>
        </div>
        <div class="logo-inner">
            <ul class="logo-box logo-box-one clearfix">
                @foreach (Client client in Model.ClientsFirstRaw)
                {
                    <li><figure class="image-box"><a href="@client.Url"><img src="images/@client.Logo" alt=""></a></figure></li>
                }
            </ul>
            <ul class="logo-box logo-box-two clearfix">
                @foreach (Client client in Model.ClientsSecondRaw)
                {
                    <li><figure class="image-box"><a href="@client.Url"><img src="images/@client.Logo" alt=""></a></figure></li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- clients-style-two end -->
<!-- info-section -->
<section class="info-section">
    <div class="auto-container">
        <div class="inner-container">
            @Html.Partial("InfoInner")
        </div>
    </div>
</section>
<!-- info-section end -->